.backgroundGrey{
    background-color: $gris;
}

.backgroundImage3{
    background-repeat: no-repeat;
}

.card-list{

    div{
        background-color: $blanco;
        @include border-radius(18px);
        @include box-shadow(0 5px 7px rgba($shadow-color, 0.16));

        &:first-child h3{
            color: $light-green;
        }
    }

    & div:last-child{
        margin-right: 0;
    }

    h3{
       
        font-family: $tipografia-bold;
        color: $rojo;
    }
    p{
        line-height: 1.3;
    }

}