footer{
    padding: 64px 0;
    background-color: $azul-oscuro;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            color: $blanco;
            font-size: 20px;
            padding: 15px 0;

        }
    }
    p{
        color: $blanco;
        font-size: 20px; 
        margin: 0;
        padding: 8px 0;
        line-height: 1.7;
    }

    .container{

        & div:last-child{
            
            ul{
                list-style: none;
                padding: 0;
                margin-top: 10px;

                li{
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    margin-left: 13px;
                }
            }
        }
    }
}

.instagram{
    background-image: url('../../images/Instagram_white.svg');
}

.facebook{
    background-image: url('../../images/Facebook.svg');
}